<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Niveau de log global -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Spécifiquement pour Apache Camel -->
    <logger name="org.apache.camel" level="INFO"/>
</configuration>
